<p id="notice"><%= notice %></p>

<h1>Listing Chats</h1>

<table>
  <thead>
    <tr>
      <th>Chat</th>
      <th>From</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.chat_id %></td>
        <td><%= chat.from_id %></td>
        <td><%= chat.first_name %></td>
        <td><%= chat.last_name %></td>
        <td><%= chat.text %></td>
        <td><%= link_to 'Show', chat %></td>
        <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
        <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat', new_chat_path %>
